@{
    ViewBag.Title = "Contact";
}
<h1>How to contact us</h1> <br />

<address>
  Raymon Jansen <br />
  97044473@st.deltion.nl <br />
  Harderwijk
</address>

<address>
    Jorrit Landman. <br />
    Sjon@gmail.com <br />
    Helemaalknettastraat 11 <br />
    Henkcity
</address>

