@{
    ViewBag.Title = "Contact";
}
<h1>About us</h1> <br />

<address>
  Raymond Jansen. <br />
  Henkie@gmail.com <br />
  Goudestraat 29 <br />
  Sjonniecity
</address>

<address>
    Jorrit Landman. <br />
    Sjon@gmail.com <br />
    Helemaalknettastraat 11 <br />
    Henkcity
</address>

