@using System.Data
@using FuriousIllusions.Models;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Song song = new Song();

    var i = 1;
    foreach (DataRow dr in song.ds.Tables[0].Rows)
    { i++; }
}
<b><i>Create a new Song.</i></b>
<form method="post" action="">
    <table>
        <tr>
            <td>ID:</td>
            <td>@{Write(i);}</td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input type="text" size="40" name="artist" placeholder="Artist" value=""></td>
        </tr>
        <tr>
            <td>Song title:</td>
            <td><input type="text" size="40" name="title" placeholder="Title of the song" value=""></td>
        </tr>
        <tr>
            <td>Publication year:</td>
            <td><input type="text" size="40" name="publication" placeholder="Publication year" value=""></td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td><input type="text" size="40" name="genre" placeholder="Genre" value=""></td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td><input type="text" size="40" name="duration" placeholder="Duration" value=""></td>
        </tr>
        <tr>
            <td>Youtube Url Link:</td>
            <td><input type="text" size="40" name="link" placeholder="Url link" value=""></td>
        </tr>
        <tr>
            <td><input type="submit" name="" value="Toevoegen"></td>
        </tr>
    </table>
</form>
<br />
<button><a href="Index" style="float:right;">Cancel</a></button>

@{
    if (IsPost)
    {
        song.Create(i);
    }
}