@using System.Data

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataSet ds = Session["xmDataSet"] as DataSet;


}
<form method="post" action="">
    <table>
        <tr>
            <td>ID:</td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input type="text" size="25" name="artist" placeholder="Artist" value=""></td>
        </tr>
        <tr>
            <td>Song title:</td>
            <td><input type="text" size="25" name="title" placeholder="Title of the song" value=""></td>
        </tr>
        <tr>
            <td>Publication year:</td>
            <td><input type="text" size="25" name="publication" placeholder="Publication year" value=""></td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td><input type="text" size="25" name="genre" placeholder="Genre" value=""></td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td><input type="text" size="25" name="duration" placeholder="Duration" value=""></td>
        </tr>
        <tr>
            <td>File:</td>
            <td><input type="text" size="25" name="file" placeholder="File name" value=""></td>
        </tr>
        <tr>
            <td><input type="submit" name="" value="Toevoegen"></td>
        </tr>
    </table>
</form>

<a href="Index" style="float:right;">Cancel</a>

@{
    if (IsPost)
    {
        string waarde = Request.Form["inputelement"];

        DataRow dr = ds.Tables[0].NewRow();
        
        dr["artist"] = Request.Form["artist"];
        dr["title"] = Request.Form["title"];
        dr["publication"] = Request.Form["publication"];
        dr["genre"] = Request.Form["genre"];
        dr["duration"] = Request.Form["duration"];
        dr["file"] = Request.Form["file"];

        if (string.IsNullOrWhiteSpace(Request.Form["artist"]) ||
        string.IsNullOrWhiteSpace(Request.Form["title"]) ||
        string.IsNullOrWhiteSpace(Request.Form["publication"]) ||
        string.IsNullOrWhiteSpace(Request.Form["genre"]) ||
        string.IsNullOrWhiteSpace(Request.Form["duration"]) ||
        string.IsNullOrWhiteSpace(Request.Form["file"]))
        {


            Response.Write("<h2 style='color: red;'> Nog niet alle velden zijn ingevuld!<h2>");
        }
        else
        {
            ds.Tables[0].Rows.Add(dr);

            ds.WriteXml(Server.MapPath("playlist.xml"));

            Response.Redirect("Index.cshtml");
        }
    }
}

