@using System.Data;
@using FuriousIllusions.Models;

@{
    ViewBag.Title = "Delete a song";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Song song = new Song();

    string id = Request.QueryString["id"];

    if (IsPost)
    {
        song.Delete(id);
    }
}

<h2>Delete a Song.</h2>

<form action="" method="post">
    <br />
    Weet u zeker dat u deze song wilt verwijderen?
    <br />
    <i>
        @foreach (DataRow dr in song.ds.Tables[0].Rows)
        {
            if (dr["id"].ToString() == Request.QueryString["id"])
            {
                <table>
                    <tr>
                        <td>@dr["artist"] - </td>
                        <td>@dr["title"]</td>
                    </tr>
                </table>
            }
        }
    </i>
    <br/>
    <input type="submit" value="Ja" />
    <a href="~/Songs/Index">Nee</a>
</form>





