@using System.Data;

@{
    ViewBag.Title = "Delete a song";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataSet ds = Session["xmlDataSet"] as DataSet;

    string id = Request.QueryString["id"];

    if (IsPost)
    {
        DataRow[] drArray = ds.Tables[0].Select("id='" + id + "'");
        drArray[0].Delete();
        ds.WriteXml(Server.MapPath(@"..\App_Data\playlist.xml"));
        Response.Redirect("Index");
    }
}

<h2>Delete a Song.</h2>

<form action="" method="post">
    <br />
    Weet u zeker dat u deze song wilt verwijderen?
    <br />
    <i>
        @foreach (DataRow dr in ds.Tables[0].Rows)
        {
            if (dr["id"].ToString() == Request.QueryString["id"])
            {
                <table>
                    <tr>
                        <td>@dr["artist"] - </td>
                        <td>@dr["title"]</td>
                    </tr>
                </table>
            }
        }
    </i>
    <br/>
    <input type="submit" value="Ja" />
    <a href="~/Songs/Index">Nee</a>
</form>





