@using System.Data;

@{
    ViewBag.Title = "Delete a song";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataSet ds = Session["xmlDataSet"] as DataSet;

    string id = Request.QueryString["id"];

    if (IsPost)
    {
        DataRow[] drArray = ds.Tables[0].Select("id='" + id + "'");
        drArray[0].Delete();
        ds.WriteXml(Server.MapPath(@"..\App_Data\playlist.xml"));
        Response.Redirect("Index");
    }
}

<h2>Delete a Song.</h2>

<form action="" method="post">
    <br />
    Weet u zeker dat u deze song wilt verwijderen?
    <br />
    -SONG NAME-
    <br/>
    <input type="submit" value="Ja" />
    <a href="Index">Nee</a>
</form>





